
.wrapter{
	position: relative;
    perspective: 1000px;
}
.wrapter .container{
	position: absolute;
    left: 40%;
	width: 400px;
	height:400px;
	transform-style: preserve-3d;
    animation: cube 8s linear infinite;
    border: 1px solid red;
    transform-origin: 50% 50%;

}
@keyframes cube{
    0% {
    }
    12.5%{
        transform: translateX(50px) translateY(50px) rotateZ(180deg);
    }
    25% {
        transform: translateX(50px) translateY(100px) rotateZ(180deg);
    }
	37.5% {
        transform: translateX(100px) translateY(150px) rotateZ(180deg);
    }	
    50% {
        transform:translateX(50px) translateY(150px) rotateZ(180sdeg);
    }
    62.5% {
        transform: translateX(-100px) translateY(100px) rotateZ(180deg);
    }
    75%{
        transform: translateX(-100px) translateY(50px) rotateZ(540deg);
    }
    87.5% {
        transform: translateX(-50px) translateY(0px) rotateZ(180deg);
    }
    100%{
        transform:translateX(0px) translateY(0px) rotateZ(720deg);
    }
}
.wrapter .container div{
	position: absolute;
	width: 200px;
	height: 200px;
	border: 1px dotted black;
	text-align: center;
	line-height: 200px;
	font-size: 50px;
	font-weight: 5000px;
}
.left{
    left: 0px;
    top: 200px;
    transform: rotateY(90deg);
    transform-origin: right;
    background-color: aqua;
    opacity: 0.8; 
    background: radial-gradient(black,white,red,green,black);
 }
 .right{  
    left:400px;
    top:200px;
    transform: rotateY(-90deg);
    transform-origin: left;
    background-color: blanchedalmond;
    opacity: 0.8;
    background: radial-gradient(black,green,red,blue,purple);
 }
 .top{
     left: 200px;
     top: 0px;
     transform: rotateX(-90deg);
     transform-origin: bottom;
     background-color: yellow;
     opacity: 0.8;
     background: radial-gradient(black,blue,yellow,orange);
 }
 .bottom{
     left:200px;
     top: 400px;
     transform: rotateX(90deg);
     transform-origin: top;
     background-color: violet;
     opacity: 0.8;
     background: radial-gradient(black,#f40,#456456,#5df6f5);
 
 }
 .front{
    left:200px;
    top:200px ;
    transform: translateZ(200px);
    background-color: springgreen;
    opacity: 0.8;
    background: radial-gradient(black,#467367,#367adc,#516778);
    
 }
 .back{
    left:200px;
    top:200px ;
    background-color: slategrey;
    opacity: 0.8;
    background: radial-gradient(black,#f56ac4,#778678,#56acdf);
 }







